
$darktheme: (
    bg: #212121,
    titlebg: #323232,
    titleico: 1,
    titletxt: #eee,
    closebtn: #808080,
    closebtnhvr: #eee,
    hinttxt: #E0E0E0,
    scrlthumb: rgba(255,255,255,0.25),
    scrltrack: rgba(255,255,255,0),
    paletteselect: rgba(255,255,255,0.1)
);


// color theme
$clrs: $darktheme;

// scroll bars
.scrollbar {
    &::-webkit-scrollbar-track {
        background-color: map-get($clrs, scrltrack) !important; 
        border: 8px solid map-get($clrs, bg);
        border-radius: 8px;
    }
    &::-webkit-scrollbar {
        width: 22px !important; 
        height: 22px !important;
    }
    &::-webkit-scrollbar-thumb {
        background-color: map-get($clrs, scrlthumb) !important; 
        border: 8px solid map-get($clrs, bg);
        border-radius: 16px;
    }
}

// cursors
.cursor-select {
    cursor:  url(cursors/select.png) 16 8.5, pointer;
}
.cursor-brushadd {
    cursor:  url(cursors/brushadd.png) 16 16, pointer;
}
.cursor-brushsub {
    cursor:  url(cursors/brushsub.png) 16 16, pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    //-webkit-user-select: none;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
}

body.mainwindow {
    margin: 0; overflow:hidden;
    
    #viewportwrapper { position:absolute; top:0; left:0; height:100%; width:100%; transition: opacity 0.5s; opacity: 0; }
    
    canvas {position:absolute; top:0; left:0; height:100%; width:100%; width: 100%; height: 100%; }
    
    &.maploaded {
        #viewportwrapper {opacity: 1;}
        //canvas {}
        #nothingopen {display: none;}
    }
    
    #nothingopen {
        z-index: 10;
        position:absolute;
        top: 0;
        left: 0;
        width: 100%; 
        height: 100%;
        outline: none;
        background: none;
        border: none;
        padding: none;
        span {
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%,-50%);
            color: map-get($clrs, hinttxt);
            text-align: center;
        }
    }
    #fileinput { display: none; }
}

body.childwindow {
    background: map-get($clrs, bg);
    -webkit-app-region: drag;
    overflow: hidden;
    
    div#titlebar {
        -webkit-app-region: drag;
        position: absolute;
        top: 0;
        left: 0;
        background: map-get($clrs, titlebg);
        width: 100%;
        height: 24px;
        >img.icon { opacity:map-get($clrs, titleico); position: absolute; width:20px; height:20px; top:2px; left:6px;}
        >span { color: map-get($clrs, titletxt); font-size: 14px; position: absolute; height:20px; top:0; left:28px; line-height: 26px; text-shadow: 0 0 4px #101010;}
        >button {
            -webkit-app-region: no-drag;
            position: absolute;
            top: 50%;
            right: 4px;
            transform: translate(0,-50%);
            background: transparent;
            border: none;
            height: 16px;
            width: 16px;
            padding: 0;
            outline: none;
            >svg{
                border:none;
                display: block;
                >path {
                    stroke: map-get($clrs, closebtn);
                    fill: transparent;
                    stroke-linecap: round;
                    stroke-width: 4;
                }
            }
            &:hover { >svg>path {stroke: map-get($clrs, closebtnhvr);} }
        }
    }
    div#content { position:absolute; width:100%; height:calc(100% - 24px); bottom:0; left:0; 
        @extend .scrollbar}
    &.toolbox {
        #content { width:calc(100% - 8px); height:calc(100% - 32px); bottom:4px; left:4px;
            a { width: 32px; height: 32px; float: left; margin: 4px; opacity: 0.6;
                img { width: 32px; height: 32px; }
                &.active { opacity: 1; }
            }
        }
    }
    &.palette {
        #content { overflow-y: scroll;
            canvas#c { position: fixed; left:0; top:0; width: 100%; height: 100%; z-index: -1; }
            .list-item { display: inline-block; margin: 4px; padding: 0em; }
            .list-item .scene { width: 64px; height: 64px; }
            #selectbox { position: absolute; z-index: -2; margin: 0; background: map-get($clrs, paletteselect); 
                border-radius: 100%; transform-origin: bottom; transform: scale(1,0.5); transition: 0.15s top, 0.15s left;}
        }
    }
}