.scrollbar::-webkit-scrollbar-track, body.childwindow div#content::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0) !important;
  border: 8px solid #212121;
  border-radius: 8px;
}

.scrollbar::-webkit-scrollbar, body.childwindow div#content::-webkit-scrollbar {
  width: 22px !important;
  height: 22px !important;
}

.scrollbar::-webkit-scrollbar-thumb, body.childwindow div#content::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25) !important;
  border: 8px solid #212121;
  border-radius: 16px;
}

.cursor-select {
  cursor: url(cursors/select.png) 16 8.5, pointer;
}

.cursor-brushadd {
  cursor: url(cursors/brushadd.png) 16 16, pointer;
}

.cursor-brushsub {
  cursor: url(cursors/brushsub.png) 16 16, pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}

body.mainwindow {
  margin: 0;
  overflow: hidden;
}

body.mainwindow #viewportwrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: opacity 0.5s;
  opacity: 0;
}

body.mainwindow canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  width: 100%;
  height: 100%;
}

body.mainwindow.maploaded #viewportwrapper {
  opacity: 1;
}

body.mainwindow.maploaded #nothingopen {
  display: none;
}

body.mainwindow #nothingopen {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  background: none;
  border: none;
  padding: none;
}

body.mainwindow #nothingopen span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #E0E0E0;
  text-align: center;
}

body.mainwindow #fileinput {
  display: none;
}

body.childwindow {
  background: #212121;
  -webkit-app-region: drag;
  overflow: hidden;
}

body.childwindow div#titlebar {
  -webkit-app-region: drag;
  position: absolute;
  top: 0;
  left: 0;
  background: #323232;
  width: 100%;
  height: 24px;
}

body.childwindow div#titlebar > img.icon {
  opacity: 1;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 6px;
}

body.childwindow div#titlebar > span {
  color: #eee;
  font-size: 14px;
  position: absolute;
  height: 20px;
  top: 0;
  left: 28px;
  line-height: 26px;
  text-shadow: 0 0 4px #101010;
}

body.childwindow div#titlebar > button {
  -webkit-app-region: no-drag;
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translate(0, -50%);
  background: transparent;
  border: none;
  height: 16px;
  width: 16px;
  padding: 0;
  outline: none;
}

body.childwindow div#titlebar > button > svg {
  border: none;
  display: block;
}

body.childwindow div#titlebar > button > svg > path {
  stroke: #808080;
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 4;
}

body.childwindow div#titlebar > button:hover > svg > path {
  stroke: #eee;
}

body.childwindow div#content {
  position: absolute;
  width: 100%;
  height: calc(100% - 24px);
  bottom: 0;
  left: 0;
}

body.childwindow.toolbox #content {
  width: calc(100% - 8px);
  height: calc(100% - 32px);
  bottom: 4px;
  left: 4px;
}

body.childwindow.toolbox #content a {
  width: 32px;
  height: 32px;
  float: left;
  margin: 4px;
  opacity: 0.6;
}

body.childwindow.toolbox #content a img {
  width: 32px;
  height: 32px;
}

body.childwindow.toolbox #content a.active {
  opacity: 1;
}

body.childwindow.palette #content {
  overflow-y: scroll;
}

body.childwindow.palette #content canvas#c {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body.childwindow.palette #content .list-item {
  display: inline-block;
  margin: 4px;
  padding: 0em;
}

body.childwindow.palette #content .list-item .scene {
  width: 64px;
  height: 64px;
}

body.childwindow.palette #content #selectbox {
  position: absolute;
  z-index: -2;
  margin: 0;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  transform-origin: bottom;
  transform: scale(1, 0.5);
  transition: 0.15s top, 0.15s left;
}
